<%- include("include/basic-structure.ejs"); -%> 
<title>TiqniaSpace-  About Us</title>


<%- include("include/navbar") -%>


<div class="about-page">

    <div class="hero-img">
    <center>  <img src="images/bg-2.png"> </center>
    </div><!-- End of the hero img -->
    
    <div class="hero-text">
        <center>
            <h2>We are CoolSpace</h2>
        </center>
        <br/>
        <center>
            <p>We believe in delivering to our clients the most hassle-free experience towards creating their digital brand identity. We do this with a highly responsive team and a transparent, collaborative design process, working together to meet the common business goals.</p>
        </center>
          <br/>
        <center>
            <p>We provide your company a digital presence that will support your business vision and give critical visibility to your products and services.</p>
        </center>
    </div>


    <%- include("include/our-tech")  -%>



<!-- /////////////////////// SERVICES SECTION -->
<%- include("include/services")  -%>
 <!-- End of the service section -->




<!-- /////////////////////// TEAM SECTION -->
<%- include("include/team")  -%>
 <!-- End of the service section -->

<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>

<div class="about-contact">
     <!-- <center><h2>It’s now time to meet you</h2></center> <br/>
     <center><p>Let's build a beautiful website that can evolve with your business</p></center> -->
<!-- /////////////////////// contact SECTION -->
<%- include("include/contact-form")  -%>
<!-- End of the service section -->
</div>

    
</div><!--///////////////////////// End of the about section -->



<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>






<%-  include("include/footer")  -%>