<%- include("include/basic-structure.ejs"); -%> 


<title>TiqniaSpace - Best Web Development Company in Delhi</title>



</head>
<body>
    
<!--///////////  HERO-HEADER ///////-->
<div class="hero-header">

<%- include("include/navbar") -%>


<div class="hero-section">
 <div class="text-section">
     <h1>We make beautiful websites that evolve with your business</h1><br/>
     <p>We design and develop modern, elegant websites.</p>


     <!-- <a href=""><button>FREE CONSULTATION</button></a> -->


<!-- Calendly link widget begin -->

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>


<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mesaqibsq'});return false;"><button>FREE CONSULTATION</button></a>


<!-- Calendly link widget end -->






 </div>
 <div class="img">
     <img src="images/header-img.png" class="rotate">
 </div>
</div><!-- End of the hero section -->


</div>
<!--///////////  END OF THE HERO HEADER-->
 
<!-- ///////////////  MADE BY US PROJECTS  -->
<div class="projects">
    <center><h2>Made by TiqniaSpace</h2></center>

    <div class="project-box">
      
        <div class="box box1">
           <div class="img-box">
            <img src="images/website-1.png" alt="" height="100px">
           </div><br/>
           <h4>Portfolio Website</h4><br/>
           <a href="https://mesaqib.github.io/Portfolio.github.io/" title="blank"><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/website-2.png" alt="" height="100px">
               </div><br/>
               <h4>App Landing Website</h4><br/>
               <a href="https://inspiring-hodgkin-836627.netlify.app/"><button>VISIT SITE</button></a>
        </div>

        <div class="box box1">
            <div class="img-box">
                <img src="images/website-3.png" alt="" height="100px">
               </div><br/>
               <h4>Business Website</h4><br/>
               <a href="https://affectionate-turing-617701.netlify.app/"><button>VISIT SITE</button></a>
        </div>

        <!-- <div class="box box1">
            <div class="img-box">
                <img src="images/work1.png" alt="" height="100px">
               </div><br/>
               <h4>Website development</h4><br/>
               <a href=""><button>VISIT SITE</button></a>
        </div> -->

    </div>
</div>
<!-- ///////////////  End of  PROJECTS  -->

 
<!-- ///////////////  PROCESS  -->
<div class="process projects">
 <center> <h2>But how do we do it?</h2></center> <br/><br/><br/>


<div class="project-img1">
    <img src="images/header-img.png" class="rotate">
</div>

 <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Goal identification</h3>
          <p>Where I work with the client to determine what goals the new website needs to fulfill. I.e., what its purpose is. </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Design</h3>
          <p>Your website is then storyboarded by our designers. we can draw out the layout and start to show you how it can look.</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Build </h3>
          <p> Once you are happy with the designs our web design team start to work their magic turning the design into your site. </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Testing</h3>
          <p>When the siste is build we then need to test it to make sure everything is working as designed. any changes can then be implemented at this stage.</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Launch</h3>
          <p> Once everyone is happy your new shiny website is then unveiled to the awaiting public. </p>
        </div>
      </div>
    </div>
  </div>


  <div class="project-img2">
    <img src="images/header-img.png" class="rotate">
</div>

</div>

<!--////////////////// END OF THE PROJECT-->

 
<!-- /////////////////////// SERVICES SECTION -->
<%- include("include/services")  -%>
 <!-- End of the service section -->



<!-- ////////////////////////////////////////////////////
////////////////   OUR TECH -->

<%- include("include/our-tech")  -%>

<!-- //////////////////////////////////////////
//////// END OF THE TECH SECTION -->

<!-- ///////////////////////////////////////////////////////
///////////////////////// TEAM SECTION -->

<%- include("include/team") -%>

<!-- ///////////////////////////////////////////////////////
///////////////////////// END TEAM SECTION -->

<!-- ///////////////////////////////////////////////////////
///////////////////////// CONTACT SECTION  -->
<div class="contact__section">
<center><h2>It’s now time to meet you</h2></center> <br/>
<center><p>Let's build a beautiful website that can evolve with your business</p></center>

<br/>
<br/>

  
<%-  include("include/contact-form")  -%>

<!-- contact form section -->

  
</div>

<!-- ///////////////////////////////////////////////////////
///////////////////////// END OF CONTACT SECTION -->
<%-  include("include/footer")  -%>


